$color-font : #0e0e0e;
$color-white : white;
$color-black : black;
$color-background : #99999a;
$color-background--gradient :
  linear-gradient(
     color.adjust($color-background, $lightness : 50%),$color-background);
$color-border : color.adjust($color-background , $lightness : 20%);








// fixed header height
$height-header : 80px;