$color-font : #0e0e0e;
$color-white : white;
$color-black : #111;
$color-yellow : #f8c216;
$color-background : #1b52c9;
$color-border : color.adjust($color-yellow , $lightness : -20%);








// fixed header height
$height-header : 80px;